#main .document{
    background-color: #bdc7c3;
    box-shadow: 1px 0px 10px #333 inset;
}

.document .document_container{
    width: 983px;
    margin: auto;
    background: url("../images/wenli.png") #faf8ef;
    box-shadow: 0 2px 6px rgba(50, 50, 50, 0.3);
    position: relative;
    z-index: 2;
    color: #3a2b0e;
}

.document .document_container h1{
    margin: auto;
    width: 360px;
    font-size: 36px;
    padding-top: 30px;
    padding-bottom: 10px;
    color: #333;
}

.document .document_container p{
    margin: 20px 50px;
    line-height: 30px;
    font-size: 20px;
    text-indent: 2em;
}

.document_container p a,.document_container p a:link{
    color: #333;
    font-weight: bold;
}

.document .document_container img{
    display: block;
    margin: auto;
}

.document_end{
    font-size: 30px;
    width: 342px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #3a2b0e
}

@media screen and (max-width: 768px){
.document .document_container{
    width: auto;
    box-shadow: none;
}

.document .document_container h1{
    text-align: center;
    width: 260px;
}

.document .document_container p{
    margin: auto;
    width: 260px;
    font-size: 16px;
}

.document_end{
    text-align: center;
    font-size: 16px;
    width: 260px;
    padding-top: 30px;
    padding-bottom: 30px;
}
}