html, body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, legend, img, fieldset, input, textarea, blockquote, th, td, hr, button, article, aside, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

/*公共类*/
.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}

.show {
    display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*初始化结束*/
.rotate{
    margin: 100px auto;
    height: 500px;
    position: relative;
}
.rotate img{
    position: absolute;
}
.prev,.next{
    width: 76px;
    height: 112px;
    position: absolute;
    top:0;
    z-index: 999;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}